*{
	margin:0;
	padding:0;
	
}

body{
    background-image:url('background.png');
	font-family: Verdana;
	background-size:cover;
	width:100%;
	height:420%;
	background-repeat:no-repeat;
	position:sticky;
}

.bottomarea{
background-color:rgba(19, 1, 13, 0.3);
text-align:center;
height:100px;
width:100%;
bottom:0px;
}

.bottomarea p{
font-size:20px;
padding-top:30px;
padding-right:30px;
font-family: 'Poppins';
font-weight:300;
color:#E9E9E9:
}


.headercolor{
background-color:rgba(19, 1, 13, 0.2);
height:100px;
width:100%;
margin-top:20px;
margin-bottom:20px;

}

.mainheader{
background-color:#184047;
color:#B6B0A5;
text-align:center;
padding-top:25px;
font-weight:800;
font-size:35px;
height:75px;
}


.header{
color:#B6B0A5;
padding-top:60px;
margin-left:425px;
text-align:center;


}

.header li{
display:inline-block;
float:left;


}

.left li{
padding-left:10px;

}

.right li{
padding-left:40px;
padding-right:20px;

}

#Welcome{
font-weight:700;
font-size:35px;
color:#E9E9E9;
font-family: 'Poppins';

}

img{
padding-top:15px;
padding-left:40px;
}

#TwiHan {
font-size:20px;
padding-top:13px;
font-weight:200;
font-family: 'Poppins';
}

#TwihanLink:hover{
color:#D90051;	
}

#TwihanLink:active{
color:#F7EEDC;
}


.categories{
color:#E9E9E9;
font-weight:500;
font-family: 'Poppins';
list-style-type: none;
padding-top:13px;

padding-left:20px;
float:left;
}

.categories li{
color:#E9E9E9;
display: inline-block;
font-size:20px;
}

#main{
font-size:40px;
font-family: 'Poppins';
color:#E9E9E9;

}


.container{
padding-top:60px;
width:100%;
}

.container h1{
text-align:center;
padding-top:20px;
padding-bottom:20px;
font-size:20px;
color:#E9E9E9;
}


.box1{
color:#D97092;
padding:20px;
padding-right:60px;
margin-left:450px;

}

.box1 p {
color:#E9E9E9;
padding:10px;
padding-left:40px;	
font-family: 'Spinnaker', sans-serif;
font-weight:400;
font-size:20px;


}

.box1 h1 {
color:#E9E9E9;
padding:10px;
padding-left:40px;	
padding-top:20px;	
margin-top:100px;
font-family: 'Spinnaker', sans-serif;
font-weight:400;
font-size:30px;


}

#a{

padding-bottom:50px;	
margin-bottom: 0px;
font-family: 'Spinnaker', sans-serif;
font-weight:400;
font-size:20px;
}



a{
	text-decoration: none;
	color:#E9E9E9;

}

a:hover{
	text-decoration: none;
	color:#D90051;

}

a:active{
	text-decoration: none;
	color:#FF005F;


}

a:visted{
	text-decoration: none;


}

.block{ 

float:left;
width:30.3%;
padding-bottom:0px;	
text-align: center;
color:#E9E9E9;
margin-left:35px;	
margin-top:150px;


}

.block p{ 
color:#E9E9E9;
margin-top: 15px;
text-align: center;
}

.portfolioimages{
margin-left:120px;
}

img {
transition:transform 0.25s ease;


}

img:active {

-webkit-transform:scale(1.5); /* or some other value */
transform:scale(1.5);
}


